<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>拿到异世界的许可证吧~</h1>
    <p>Welcome to <%= title %></p>

    <form id="submitForm">
        <div>
            <p id="usableId" style="display: none;">账号已存在！</p>
            <span>账号:</span>
            <input id="userid" name="userid" placeholder="请输入注册邮箱/手机号" type="text" >
            <span id="aotTips" style="display: none;">请输入有效账号</span>
        </div>

        <div>
            <span>密码:</span>
            <input id="password" name="password" type="password" placeholder="请输入6-16位密码" />
            <span id="pwdTips" style="display: none;">请输入6-16位密码，可以是数字、字母、下划线。</span>
        </div>

        <div>
            <input type="submit" value="注册！" id="regBtn" />
        </div>
    </form>


    

    <script>
    (function(window, document) {

            var submitForm = document.getElementById('submitForm');
            var regBtn = document.getElementById('regBtn');
            var aotTips = document.getElementById('aotTips');
            var pwdTips = document.getElementById('pwdTips');
            var userid = document.getElementById('userid');
            var password = document.getElementById('password');
            var usableId = document.getElementById('usableId');

            function ckeckAccount(uid) {
                var mobileReg = /^1(3|4|5|7|8)\d{9}$/;
                var mailReg = /^[A-Z0-9a-z._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
                if(!mobileReg.test(uid) && !mailReg.test(uid)){
                    aotTips.style.display='';
                    return 0;
                } else{
                    aotTips.style.display='none';
                    return 1;
                }
            }
            function checkPassword(pwd) {
                var pwdReg = /[0-9a-zA-Z_]{6,16}/;
                if(!pwdReg.test(pwd)){
                    pwdTips.style.display = '';
                    return 0;
                } else{
                    pwdTips.style.display='none';
                    return 1;
                }
            }

            userid.addEventListener('blur', function(e) {
                ckeckAccount(e.target.value);
            });
            password.addEventListener('blur', function(e) {
                checkPassword(e.target.value);
            });

            submitForm.addEventListener('click', function(e) {
                usableId.style.display = 'none';
            });

            regBtn.addEventListener('click', function(e) {
                e.preventDefault();

                var idValue = document.getElementById('userid').value;
                var pwdValue = document.getElementById('password').value;
                
                if(!ckeckAccount(idValue) || !checkPassword(pwdValue)){
                    return;
                }

                var xhr = new XMLHttpRequest();
                xhr.open('post', '/register');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                xhr.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        if (this.status >= 200 && this.status < 400) {
                            var text = JSON.parse(this.responseText);
                            if(!text.regState){
                                usableId.style.display = '';
                            } else{
                                location.href+='/regsuccess';
                            }
                        }
                    }
                };
                xhr.send("userid=" + idValue +"&password=" + pwdValue);
            });

    }(window, document));
    </script>
  </body>
</html>
