<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>欢迎！你已经登陆了（假装是主页</h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/logout">登出</a></p>
  </body>
</html>
